.car__item {
  padding: 20px;
  background-color: var(--ligth);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 
.car__item-info span i {
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.car__item-btn {
  border-radius: 2rem;
  border: none;
  outline: none;
  background: var(--primary-color);
  padding: 8px 0px;
  width: 10rem;
}


.car__item-btn a:hover {
  color: var(--accent-color);
}
.car__btn-details {
  background: #eee;
  
}
.car__btn-details a{
  color: black;
}
.car__btn-rent a{
  color: white;
}

.car__item-content h4 {
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.car__item-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.buttons_container{
  display: flex;
justify-content: space-around;
}
@media only screen and (max-width: 992px) {
  .car__item h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .car__item h6 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .car__item-info {
    flex-wrap: wrap;
  }

  .car__item-info span {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .car__item-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .car__item h4 {
    font-size: 1rem;
  }

  .car__item h6 {
    font-size: 0.9rem;
  }

  .car__item-info span {
    font-size: 0.7rem;
  }

  .car__item-info span i {
    font-size: 0.9rem;
  }

  .car__item-btn {
    font-size: 0.8rem;
  }
}
