/* Paleta de colores moderna */
:root {
  --primary-color: #1c1c1c;
  --secondary-color: #1c1c1c;
  --accent-color: #ffc107;
  --text-color: #ffffff;
  --ligth:#f6f6f9;
  --grey: #eee;
}

/* Estilos globales */
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  background-color: var(--primary-color);
}

.header__top {
  padding: 10px 0;
  background: var(--secondary-color);
  color: white;
}

.header__top__left span {
  font-size: 1.2rem;
  font-weight: 600;
}

.header__top__help i {
  background: var(--text-color);
  color: var(--accent-color);
  padding: 2px 4px;
  border-radius: 50px;
  font-size: 1rem;
  padding-left: 3px;
}

.header__top__right a {
  text-decoration: none;
  color: #eee;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 1.5
}

.header__top__right a:hover {
  color: var(--accent-color);
}

.user-info {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--accent-color);
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.user-greeting {
  margin-right: 10px;
  transition: margin-right 0.3s ease-in-out;
}

.logout-btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: #f6f6f9;
  transition: color 0.3s ease-in-out;
}

.logout-text {
  font-size: 1.2rem;
  font-weight: 600;
}

.logout-icon {
  font-size: 1.3rem;
}

.logout-btn:hover {
  color: #ff3c3c;
  transition: color 0.3s ease-in-out;
}

.header__middle {
  padding: 20px 0;
}

.logo h1 a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 700;
}

.logo h1 a span {
  font-size: 1.5rem;
}

.logo h1 a i {
  font-size: 2.2rem;
}

.header__location span i {
  font-size: 2.2rem;
  color: var(--accent-color);
}

.header__location-content h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--accent-color);
}

.header__location-content h6 {
  font-weight: 600;
  font-size: 1rem;
  color: #000000;
}

.header__btn {
  background: var(--secondary-color) !important;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.header__btn a {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  text-decoration: none;
  color: var(--accent-color);
  justify-content: end;
  font-size: 0.9rem;
}

.header__btn a:hover {
  color: var(--accent-color);
}

/* Estilos de la barra de navegación */
.main__navbar {
  padding: 15px 0;
  background: var(--primary-color);
}

.mobile__menu i {
  color: var(--text-color);
  font-size: 1.3rem;
  cursor: pointer;
}

.mobile__menu {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav__item {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

.nav__item:hover {
  color: var(--accent-color);
}

.search__box {
  border: 1px solid rgba(124, 138, 151, 0.2);
  padding: 7px 12px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background: rgba(95, 95, 95, 0.9);
}

.search__box input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  cursor: pointer;
}

.search__box input::placeholder {
  font-size: 0.8rem;
}

.search__box span i {
  color: rgba(196, 196, 196, 0.555);
  cursor: pointer;
}

.nav__active {
  color: var(--accent-color);
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .header__top,
  .header__middle,
  .nav__right {
    display: none;
  }

  .mobile__menu {
    display: block;
  }

  .navigation {
    background: rgba(0, 13, 107, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
  }

  .menu {
    width: 250px;
    height: 100%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
  }

  .menu a {
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.9rem;
  }

  .menu__active {
    display: block;
  }
}