.box_rent{
    padding: 0;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box_rent .container{
    width: 70%;
    background-color: #ffffff;
    height: 100%;
    border-radius: 2rem;
    position: relative;
    display: flex;

    
}
.box_rent .container .left_container{
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}
.box_rent .container .left_container h1{
    color: black;
}

.box_rent .container .image_container{
    height: 100%;
    position: absolute;
    right: 0;
    width: 40%;
    border-radius: 2rem;

}
.box_rent .container .image_container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.inputs_rent{
    width: 130%;
    height: 4rem;
    background-color: #ffffff;
    border-radius: 1rem;
    position: relative;
    right: -4rem;
    z-index: 2000;
    display: flex;
    border: 1px solid eee;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}
.inputs_rent button{
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 1rem;
    background-color: var(--accent-color);
    color: #ffffff;
}
.inputs_rent div{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputs_rent input{
   height: 100%;
   border: none;
   border-radius: 1rem;
   width: 90%;
   padding-left: 1rem;
}
.inputs_rent input:focus{
    outline: none;
    box-shadow: none;
}
.inputs_rent label{
    padding-left: 1rem;
    padding-top: 0.2rem;
 }
.div_button{
    display: flex;
    align-items:center;
    justify-content: center;
}
.div_car_model{
    border-right: 1px solid #eee;

}
.div_max_amount{
    border-right: 1px solid #eee;
}
